In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("CKD.csv")

In [4]:
print (dataset)

           age         bp sg   al   su     rbc        pc         pcc  \
0     2.000000  76.459948  c  3.0  0.0  normal  abnormal  notpresent
1     3.000000  76.459948  c  2.0  0.0  normal    normal  notpresent
2     4.000000  76.459948  a  1.0  0.0  normal    normal  notpresent
3     5.000000  76.459948  d  1.0  0.0  normal    normal  notpresent
4     5.000000  50.000000  c  0.0  0.0  normal    normal  notpresent
..         ...        ... ..  ...  ...     ...       ...         ...
394  51.492308  70.000000  a  0.0  0.0  normal    normal  notpresent
395  51.492308  70.000000  c  0.0  2.0  normal    normal  notpresent
396  51.492308  70.000000  c  3.0  0.0  normal    normal  notpresent
397  51.492308  90.000000  a  0.0  0.0  normal    normal  notpresent
398  51.492308  80.000000  a  0.0  0.0  normal    normal  notpresent

             ba         bgr  ...        pcv            wc        rc  htn   dm  \
0    notpresent  148.112676  ...  38.868902   8408.191126  4.705597   no   no
1    notpresent  148.112676  ...  34.000000  12300.000000  4.705597   no   no
2    notpresent   99.000000  ...  34.000000   8408.191126  4.705597   no   no
3    notpresent  148.112676  ...  38.868902   8408.191126  4.705597   no   no
4    notpresent  148.112676  ...  36.000000  12400.000000  4.705597   no   no
..          ...         ...  ...        ...           ...       ...  ...  ...
394  notpresent  219.000000  ...  37.000000   9800.000000  4.400000   no   no
395  notpresent  220.000000  ...  27.000000   8408.191126  4.705597  yes  yes
396  notpresent  110.000000  ...  26.000000   9200.000000  3.400000  yes  yes
397  notpresent  207.000000  ...  38.868902   8408.191126  4.705597  yes  yes
398  notpresent  100.000000  ...  53.000000   8500.000000  4.900000   no   no

     cad  appet    pe  ane classification
0     no    yes   yes   no            yes
1     no    yes  poor   no            yes
2     no    yes  poor   no            yes
3     no    yes  poor  yes            yes
4     no    yes  poor   no            yes
..   ...    ...   ...  ...            ...
394   no    yes  poor   no            yes
395   no    yes  poor  yes            yes
396   no   poor  poor   no            yes
397   no    yes  poor  yes            yes
398   no    yes  poor   no             no

[399 rows x 25 columns]

In [5]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first="True")

In [6]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [10]:
input=dataset.drop(columns=['classification_yes'])

In [11]:
output=dataset['classification_yes']

In [12]:
input

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [13]:
output

0      1
1      1
2      1
3      1
4      1
      ..
394    1
395    1
396    1
397    1
398    0
Name: classification_yes, Length: 399, dtype: int32

In [18]:
from  sklearn.model_selection  import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(input,output,test_size=0.2,random_state=2)

In [24]:
from sklearn.svm import SVC
classi=SVC(kernel='rbf',random_state=0)
classi=classi.fit(x_train,y_train)

In [26]:
y_pred=classi.predict(x_test)

In [27]:

from sklearn.metrics import confusion_matrix

In [28]:
cm=confusion_matrix(y_test,y_pred)

In [29]:
print (cm)

[[ 0 30]
 [ 0 50]]

In [30]:
from sklearn.metrics import classification_report

In [31]:
clf_report=classification_report(y_test,y_pred)

C:\Users\Vishnu\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Vishnu\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Vishnu\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [32]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        30
           1       0.62      1.00      0.77        50

    accuracy                           0.62        80
   macro avg       0.31      0.50      0.38        80
weighted avg       0.39      0.62      0.48        80